[Desktop Entry]
Type=Service
Icon=kmix
Exec=kcmshell5 kcm_pulseaudio

X-KDE-Library=kcm_pulseaudio
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=audio-and-video
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=kcm_pulseaudio
X-DocPath=kcontrol/plasma-pa/index.html

Name=Audio Volume
Name[ar]=مستوى الصّوت
Name[ast]=Volume d'audiu
Name[ca]=Volum de l'àudio
Name[ca@valencia]=Volum de l'àudio
Name[cs]=Hlasitost zvuku
Name[da]=Lydstyrke
Name[de]=Lautstärke
Name[el]=Ένταση ήχου
Name[en_GB]=Audio Volume
Name[es]=Volumen del sonido
Name[et]=Helitugevus
Name[fi]=Äänenvoimakkuus
Name[fr]=Volume audio
Name[gl]=Volume do son
Name[he]=עוצמת שמע
Name[it]=Volume audio
Name[ko]=오디오 음량
Name[lt]=Garsumas
Name[nl]=Geluidsvolume
Name[nn]=Lydstyrke
Name[pa]=ਆਡੀਓ ਵਾਲੀਅਮ
Name[pl]=Głośność dźwięku
Name[pt]=Volume do Áudio
Name[pt_BR]=Volume do áudio
Name[ru]=Громкость
Name[sk]=Hlasitosť zvuku
Name[sl]=Glasnost zvoka
Name[sr]=Јачина звука
Name[sr@ijekavian]=Јачина звука
Name[sr@ijekavianlatin]=Jačina zvuka
Name[sr@latin]=Jačina zvuka
Name[sv]=Ljudvolym
Name[uk]=Гучність
Name[x-test]=xxAudio Volumexx
Name[zh_CN]=音频音量
Name[zh_TW]=音效音量
Comment=Configure the Audio Volume
Comment[ar]=اضبط مستوى الصّوت
Comment[ast]=Configura'l volume d'audiu
Comment[ca]=Configura el volum de l'àudio
Comment[ca@valencia]=Configura el volum de l'àudio
Comment[cs]=Nastavit hlasitost zvuku
Comment[da]=Indstil lydstyrken
Comment[de]=Einstellung der Lautstärke
Comment[el]=Διαμόρφωση έντασης ήχου
Comment[en_GB]=Configure the Audio Volume
Comment[es]=Configurar el volumen del sonido
Comment[et]=Helitugevuse seadistamine
Comment[fi]=Äänenvoimakkuuden asetukset
Comment[fr]=Configurer le volume audio
Comment[gl]=Configurar o volume do son
Comment[he]=הגדרות עוצמת שמע
Comment[it]=Configura il volume audio
Comment[ko]=오디오 음량 설정
Comment[lt]=Konfigūruoti garsumą
Comment[nl]=Het geluidsvolume configureren
Comment[nn]=Set opp lystyrken
Comment[pa]=ਆਡੀਓ ਵਾਲੀਅਮ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Ustawienia głośności dźwięku
Comment[pt]=Configurar o Volume do Áudio
Comment[pt_BR]=Configurar o volume do áudio
Comment[ru]=Настройка громкости звука
Comment[sk]=Nastaviť halsitosť zvuku
Comment[sl]=Nastavi glasnost zvoka
Comment[sr]=Подешавање јачине звука
Comment[sr@ijekavian]=Подешавање јачине звука
Comment[sr@ijekavianlatin]=Podešavanje jačine zvuka
Comment[sr@latin]=Podešavanje jačine zvuka
Comment[sv]=Anpassa ljudvolym
Comment[uk]=Налаштовування гучності
Comment[x-test]=xxConfigure the Audio Volumexx
Comment[zh_CN]=配置音频音量
Comment[zh_TW]=設定音量
X-KDE-Keywords=Sound,Volume,Output,Audio,Music,PulseAudio,Pulse
X-KDE-Keywords[ar]=صوت,مستوى,خرج,موسيقى,Pulse,PulseAudio
X-KDE-Keywords[ast]=Soníu,Volume,Salida,Audiu,Música,PulseAusio,Pulse
X-KDE-Keywords[ca]=So,Volum,Sortida,Àudio,Música,PulseAudio,Pulse
X-KDE-Keywords[ca@valencia]=So,Volum,Eixida,Àudio,Música,PulseAudio,Pulse
X-KDE-Keywords[cs]=Zvuk,Hlasitost,Výstup,Audio,Hudba,PulseAudio,Pulse
X-KDE-Keywords[da]=lyd,lydstyrke,output,audio,musik,PulseAudio,Pulse
X-KDE-Keywords[de]=Sound,Lautstärke,Ausgabe,Audio,Musik,PulseAudio,Pulse
X-KDE-Keywords[el]=Ήχος,Ένταση,Έξοδος,Audio,Μουσική,PulseAudio,Pulse
X-KDE-Keywords[en_GB]=Sound,Volume,Output,Audio,Music,PulseAudio,Pulse
X-KDE-Keywords[es]=Sonido,Volumen,Salida,Audio,Música,PulseAudio,Pulse
X-KDE-Keywords[et]=Heli,Helitugevus,Väljund,Audio,Muusika,PulseAudio
X-KDE-Keywords[fi]=Sound,Volume,Output,Audio,Music,PulseAudio,Pulse,Ääni,Voimakkuus,Äänenvoimakkuus,Ulostulo,Lähtö,Musiikki
X-KDE-Keywords[fr]=Son,Volume,Périphérique de lecture,Audio,Musique,PulseAudio,Pulse
X-KDE-Keywords[gl]=Son,Audio,Volume,Saída,Música,PulseAudio,Pulse
X-KDE-Keywords[he]=Sound,Volume,Output,Audio,Music,PulseAudio,Pulse,שמע,ווליום,עוצמה,מוזיקה,מוסיקה,צליל
X-KDE-Keywords[it]=Suono,volume,uscita,audio,musica,PulseAudio,Pulse
X-KDE-Keywords[ko]=Sound,Volume,Output,Audio,Music,PulseAudio,Pulse,소리,음악,음량,출력,오디오
X-KDE-Keywords[lt]=Garsas,Garsumas,Išvestis,Audio,Muzika,PulseAudio,Pulse
X-KDE-Keywords[nl]=Geluid,Volume,Uitvoer,Audio,Muziek,PulseAudio,Pulse
X-KDE-Keywords[nn]=lyd,lydstyrke,volum,støy,musikk,PulseAudio,Pulse
X-KDE-Keywords[pa]=ਆਵਾਜ਼,ਸਾਊਂਡ,ਵਾਲੀਅਮ,ਆਉਟਪੁੱਟ,ਆਡੀਓ,ਸੰਗੀਤ,ਪਲਸਆਡੀਓ,ਪਲਸ
X-KDE-Keywords[pl]=Dźwięk,Głośność,Wyjście,Audio,Muzyka,PulseAudio,Pulse
X-KDE-Keywords[pt]=Som,Volume,Saída,Áudio,Música,PulseAudio,Pulse
X-KDE-Keywords[pt_BR]=Som,Volume,Saída,Áudio,Música,PulseAudio,Pulse
X-KDE-Keywords[ru]=звук,громкость,выход,аудио,музыка,PulseAudio,Pulse,Sound,Volume,Output,Audio,Music
X-KDE-Keywords[sk]=Zvuk,Hlasitosť,Výstup,Audio,Hudba,PulseAudio,Pulse
X-KDE-Keywords[sl]=zvok,glasnost,izhod,glasba,PulseAudio,Pulse
X-KDE-Keywords[sr]=Sound,Volume,Output,Audio,Music,PulseAudio,Pulse,звук,јачина,излаз,аудио,музика,Пулс‑аудио
X-KDE-Keywords[sr@ijekavian]=Sound,Volume,Output,Audio,Music,PulseAudio,Pulse,звук,јачина,излаз,аудио,музика,Пулс‑аудио
X-KDE-Keywords[sr@ijekavianlatin]=Sound,Volume,Output,Audio,Music,PulseAudio,Pulse,zvuk,jačina,izlaz,audio,muzika,PulseAudio
X-KDE-Keywords[sr@latin]=Sound,Volume,Output,Audio,Music,PulseAudio,Pulse,zvuk,jačina,izlaz,audio,muzika,PulseAudio
X-KDE-Keywords[sv]=Ljud,Volym,Utgång,Audio,Musik,PulseAudio,Pulse
X-KDE-Keywords[uk]=Sound,Volume,Output,Audio,Music,PulseAudio,Pulse,звук,гучність,вихід,аудіо,музика,пульс,пульсаудіо
X-KDE-Keywords[x-test]=xxSoundxx,xxVolumexx,xxOutputxx,xxAudioxx,xxMusicxx,xxPulseAudioxx,xxPulsexx
X-KDE-Keywords[zh_CN]=Sound,Volume,Output,Audio,Music,PulseAudio,Pulse,声音,音量,输出,音频,音乐,脉冲
X-KDE-Keywords[zh_TW]=Sound,Volume,Output,Audio,Music,PulseAudio,Pulse
