[Desktop Entry]
Type=Service
Icon=kmix
Exec=kcmshell5 kcm_pulseaudio

X-KDE-Library=kcm_pulseaudio
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=audio-and-video
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=kcm_pulseaudio
X-DocPath=plasma-pa/index.html

Name=Audio Volume
Name[ca]=Volum de l'àudio
Name[cs]=Hlasitost audia
Name[es]=Volumen del sonido
Name[fi]=Äänenvoimakkuus
Name[gl]=Volume do son
Name[nl]=Geluidsvolume
Name[pl]=Głośność dźwięku
Name[pt]=Volume do Áudio
Name[pt_BR]=Volume do áudio
Name[sk]=Hlasitosť zvuku
Name[sv]=Ljudvolym
Name[uk]=Гучність
Name[x-test]=xxAudio Volumexx
Name[zh_CN]=音频音量
Comment=Configure the Audio Volume
Comment[ca]=Configura el volum de l'àudio
Comment[cs]=Nastavit hlasitost zvuku
Comment[es]=Configurar el volumen del sonido
Comment[fi]=Äänenvoimakkuuden asetukset
Comment[gl]=Configurar o volume do son
Comment[nl]=Het geluidsvolume configureren
Comment[pl]=Ustawienia głośności dźwięku
Comment[pt]=Configurar o Volume do Áudio
Comment[pt_BR]=Configurar o volume do áudio
Comment[sk]=Nastaviť halsitosť zvuku
Comment[sv]=Anpassa ljudvolym
Comment[uk]=Налаштовування гучності
Comment[x-test]=xxConfigure the Audio Volumexx
Comment[zh_CN]=配置音频音量
X-KDE-Keywords=Sound,Volume,Output,Audio,Music,PulseAudio,Pulse
X-KDE-Keywords[ca]=So,Volum,Sortida,Àudio,Música,PulseAudio,Pulse
X-KDE-Keywords[es]=Sonido,Volumen,Salida,Audio,Música,PulseAudio,Pulse
X-KDE-Keywords[fi]=Sound,Volume,Output,Audio,Music,PulseAudio,Pulse,Ääni,Voimakkuus,Äänenvoimakkuus,Ulostulo,Lähtö,Musiikki
X-KDE-Keywords[gl]=Son,Audio,Volume,Saída,Música,PulseAudio,Pulse
X-KDE-Keywords[nl]=Geluid,Volume,Uitvoer,Audio,Muziek,PulseAudio,Pulse
X-KDE-Keywords[pl]=Dźwięk,Głośność,Wyjście,Audio,Muzyka,PulseAudio,Pulse
X-KDE-Keywords[pt]=Som,Volume,Saída,Áudio,Música,PulseAudio,Pulse
X-KDE-Keywords[pt_BR]=Som,Volume,Saída,Áudio,Música,PulseAudio,Pulse
X-KDE-Keywords[sk]=Zvuk,Hlasitosť,Výstup,Audio,Hudba,PulseAudio,Pulse
X-KDE-Keywords[sv]=Ljud,Volym,Utgång,Audio,Musik,PulseAudio,Pulse
X-KDE-Keywords[uk]=Sound,Volume,Output,Audio,Music,PulseAudio,Pulse,звук,гучність,вихід,аудіо,музика,пульс,пульсаудіо
X-KDE-Keywords[x-test]=xxSoundxx,xxVolumexx,xxOutputxx,xxAudioxx,xxMusicxx,xxPulseAudioxx,xxPulsexx
X-KDE-Keywords[zh_CN]=Sound,Volume,Output,Audio,Music,PulseAudio,Pulse,声音,音量,输出,音频,音乐,脉冲
