[Desktop Entry]
Type=Service
Icon=sound
Exec=kcmshell5 kcm_pulseaudio

X-KDE-Library=kcm_pulseaudio
X-KDE-ServiceTypes=KCModule
X-KDE-System-Settings-Parent-Category=personalization
X-KDE-ParentApp=kcontrol
X-KDE-PluginKeyword=kcm_pulseaudio
X-KDE-Keywords=
Categories=

Name=Sound
Comment=Sound and Other Stuff
