[Desktop Entry]
Name=Audio Volume
Name[es]=Volumen del sonido
Name[nl]=Geluidsvolume
Name[pt]=Volume do Áudio
Name[pt_BR]=Volume do áudio
Name[sv]=Ljudvolym
Name[uk]=Гучність
Name[x-test]=xxAudio Volumexx
Comment=

Icon=kmix
Type=Service
X-KDE-ServiceTypes=Plasma/Applet,Plasma/PopupApplet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-Plasma-NotificationArea=true
X-Plasma-ConfigPlugins=kcm_pulseaudio

X-KDE-PluginInfo-Name=org.kde.plasma.volume
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Author=Harald Sitter
X-KDE-PluginInfo-Email=sitter@kde.org
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
