[Desktop Entry]
Name=Sound
Name[ca]=So
Name[cs]=Zvuk
Name[es]=Sonido
Name[fi]=Ääni
Name[gl]=Son
Name[lt]=Garsas
Name[nl]=Geluid
Name[pl]=Dźwięk
Name[pt]=Som
Name[pt_BR]=Som
Name[sk]=Zvuk
Name[sv]=Ljud
Name[uk]=Звук
Name[x-test]=xxSoundxx
Name[zh_CN]=声音
Comment=Configure Sound
Comment[ca]=Configura el so
Comment[cs]=Nastavit zvuk
Comment[es]=Configurar el sonido
Comment[fi]=Äänen asetukset
Comment[gl]=Configurar o son
Comment[lt]=Konfigūruoti garsą
Comment[nl]=Geluid instellen
Comment[pl]=Ustawienia dźwięku
Comment[pt]=Configurar o Som
Comment[pt_BR]=Configurar o som
Comment[sk]=Nastaviť zvuk
Comment[sv]=Anpassa ljud
Comment[uk]=Налаштовування звуку
Comment[x-test]=xxConfigure Soundxx
Comment[zh_CN]=配置声音
Icon=kmix
Type=Service
X-KDE-PluginInfo-Author=Harald Sitter
X-KDE-PluginInfo-Email=sitter@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_pulseaudio
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
