[Desktop Entry]
Name=Sound
Name[es]=Sonido
Name[nl]=Geluid
Name[pt_BR]=Som
Name[ru]=Звук
Name[sv]=Ljud
Name[uk]=Звук
Name[x-test]=xxSoundxx
Comment=Configure Sound
Comment[es]=Configurar el sonido
Comment[nl]=Geluid instellen
Comment[pt_BR]=Configurar o som
Comment[ru]=Настройка звука
Comment[sv]=Anpassa ljud
Comment[uk]=Налаштовування звуку
Comment[x-test]=xxConfigure Soundxx
Icon=kmix
Type=Service
X-KDE-PluginInfo-Author=Harald Sitter
X-KDE-PluginInfo-Email=sitter@kde.org
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=kcm_pulseaudio
X-KDE-ServiceTypes=Plasma/Generic
X-Plasma-API=declarativeappletscript

X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
